
@{
    ViewBag.Title = "InPatient";
}
<h2 style="text-decoration-color:#000000"><b>InPatient</b></h2>


<div>
    <button name="SAppoinment" class="btn-primary" style="height: 40px; width: 150px; color: white; background-color: #222222">
        @Ajax.ActionLink("Load Appointments", "LoadAppointments", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "Display",
            HttpMethod = "Get"
        })

    </button>

    <button name="SAppoinment" class="btn-primary" style="height: 40px; width: 90px; color: white; background-color: #222222">


        @{
            TempData["InPat"] = "Inn";
        }
        @Ajax.ActionLink("Create Test", "Test", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "Display",
            HttpMethod = "Get"
        })

    </button>
    <button name="SAppoinment" class="btn-primary" style="height: 40px; width: 90px; color: white; background-color: #222222">
        @Ajax.ActionLink("Bill", "IBill", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Display",
        HttpMethod = "Get"
    })

    </button>

    <button name="SAppoinment" class="btn-primary" style="height: 40px; width: 90px; color: white; background-color: #222222">
        @Html.ActionLink("Back", "Dashboard", "Doctor")

    </button>


</div>


<div id="Display">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}