
@{
    ViewBag.Title = "OutPatient";
}
<h2 style="text-decoration-color:#000000"><b>OutPatient</b></h2>

<div>
    <button name="SAppoinment">
        @Ajax.ActionLink("Admit Patient", "AdmitPatient", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Display",
        HttpMethod = "Get"
    })

    </button>
    @{
        TempData["InPat"] = "Out";
    }
    <button name="SAppoinment">
        @Ajax.ActionLink("Create Test", "Test", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Display",
        HttpMethod = "Get"
    })

    </button>
    <button name="SAppoinment">
        @Ajax.ActionLink("Bill", "OBill", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Display",
        HttpMethod = "Get"
    })

    </button>

    <button name="SAppoinment">
        @Html.ActionLink("Back", "Dashboard", "Doctor")

    </button>


</div>


<div id="Display">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}